body {
    background-color: rgb(232,232,232);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
}

.vorderheader {
    z-index: 199;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 110px;
    background-color: rgba(232,232,232, 0.5);
    backdrop-filter: blur(4px);
}

.header {
    z-index: 1100;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 10px;
    height: 100px;
    right: 10px;
    left: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.78);
}

.info {
    z-index: 1101;
    text-align: center;
    align-items: center;
    margin-top: 60px;
    font-size: large;
}

.header a {
    z-index: 1110;
    color: rgb(223,223,223);
}

.in {
    text-align: center;
    align-items: center;
}

.Inhalt {
    z-index: 1110;
    margin-top: 180px;
    margin-left: 230px;
    margin-right: 230px;
}

.Inhalt a {
    color: #000000;
}

nav a {
    text-decoration: none;
    margin: 10px;
}

.inc h1{
    z-index: 1999;
    position: fixed;
    top: 0px;
    position: fixed;
    top: -5px;
    left: 25px ;
    font-size: xx-large;
}

.inc p {
    z-index: 1999;
    position: fixed;
    top: 58px;
    left: 25px ;
    font-size: large;

}

.iconinc {
    width: 80px;
    height: 80px;
    position: fixed;
    margin-top: -65px;
    right: 20px;
    color:black;
    border-radius: 100px;
}

a {
    color: rgb(249, 254, 174);
    text-decoration: none;
}

h2 {
    margin-top: 40px;
}

.cookie {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: rgb(249, 254, 174);
    border-radius: 100px;
    width: 330px;
    height: 30px;
    color: #000000;
    visibility: hidden;
}

.cookie h1 {
    margin-top: 3px;
    position: fixed;
    right: 24px;
    font-size: medium;
}

.Bilder {
    align-items: center;
    text-align: center;
    margin-top: -10px;
}

.Bilder img {
    border-radius: 5px;
    height: 225px;
}

a:hover {
    color: rgb(175, 170, 119);
}

.Erweiterungsbutton :hover {
    background-color: rgb(249, 254, 174);
    color: black;
}

.Inhaltsverzeichnis {
    z-index: 99999;
    position: fixed;
    top: 110px;
    width: 300px;
    border-radius: 10px;
    right: 10px;
    visibility: hidden;
    margin-bottom: 50px;
    color: rgb(223,223,223);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.Inhaltsverzeichnis :hover{
    color: rgb(249, 254, 174);
}

.Inhaltsverzeichnis li {
    color: rgb(223,223,223);
    margin-top: 5px;
    margin-bottom: 6px;
    margin-left: 10px;
}

.Inhaltsverzeichnis ul {
    margin-top: 5px;
    margin-bottom: 6px;
    margin-left: 10px;
}

.Inhaltsverzeichnis a {
    color: rgb(223,223,223);
    text-decoration: none;
}

.nichts {
    height: 5px;
}

.Search {
    z-index: 9992;
    position: fixed;
    top: 10px;
    width: 300px;
    border-radius: 10px;
    right: 10px;
    height: 100px;
}

.Search input {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    width: 293px;
    border-radius: 10px;
    height: 47px;
    margin-bottom: 0px;
}
.Search button {
    width: 100%;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color:  rgba(36, 36, 36, 0);
    height: 47px;
    margin-top: 0px;
    font-size:x-large;
}

.Inhalt p {
    margin-top: 5px;
    margin-bottom: 20px;
}

.Inhalt li {
    margin-top: 5px;
    margin-bottom: 20px;
}

.Inhalt h4 {
    font-size: larger;
    margin-bottom: 0px;
    margin-top: 30px;
}

.Inhalt h5 {
    margin-bottom: -15px;
    margin-top: 30px;
    font-size: medium;
}

.Inhalt h1 {
    margin-top: 40px;
}

.line {
    width: 500px;
    float: right;
}

.line img {
    z-index: 0;
    width: 300px;
    margin-left: 30px;
    margin-top: 40px;
}

.recentVisits img {
    width: 150px;
    border-radius: 10px;
}

.visit-container {
    background-color: black;
    border-radius: 20px;
    text-align: center; 
    margin: 15px;
    width: min-content;
}

.visit-container img {
    display: block; 
    margin: 0 auto; 
}

.visit-container p {
    display: block;
    margin-top: 20px;
    font-size: 16px; 
}

.recentList div{
    float: left;
    width: 180px;
    height: 240px;
    margin-left: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: white;
}

.visit-container :hover {
    color: rgb(249, 254, 174);
}

.link :hover {
    color: rgb(249, 254, 174);
}


.info :hover {
    color: rgb(249, 254, 174);
}

.inc h1 :hover {
    color: rgb(249, 254, 174);
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}

.sus {
    z-index: -10;
    position: fixed;
}

footer {
    margin-top: 500px;
    margin-bottom: -50px;
    margin-left: 0.13vmax;
    height: auto;
    border-radius: 10px;
    width: 97.87vmax;
    color:white;
    background-color: rgba(0, 0, 0, 0.78);
}

footer a{
    color: white;
}

.footer {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    height: auto;
    border-radius: 10px;
    width: 100%;
    margin-left: -8px;
    color:white;
    background-color: rgba(0, 0, 0, 0.78);
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
}

.footer-content div{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.footer-bottom {
    float: right;
    margin-right: 20px;
    margin-top: -45px;
}

.footer-section-about p {
    margin-bottom: 0px;
    margin-top: 0px;
}
